@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.logo {
  font-family: "Dancing Script", serif;
  font-style: italic;
  font-weight: 900;
}
.bg {
  background: radial-gradient(circle, #00c896, #076b61, #222831, #050505);
}
.nav-bg {
  background: rgba(10, 10, 10, 0.8);
}
.bgimg {
  background-image: url("/bgimg1.jpg");
  background-size: cover;
  background-position: center;
}
.page-font {
  font-family: "Rubik", sans-serif;
}
.card-m {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1);
}
